.Message{
    margin: 1rem auto;
    width : 80%;
}

.Message_input{
    width: 90%;
 padding: 1rem;
 background: rgba(0, 0, 0, 0.8);
 color: #fff;
 border: 0;
 border-radius: 10px;
 font-size: 1rem;
 outline: 0;
}
