.Chats {
     flex: 1 1 0;
     display: flex;
     flex-direction: column;
     border-bottom: 1px solid rgba(189, 189, 192, 0.2);
     align-items: flex-start;
     width: 85%;
     margin: 0 auto;
     overflow-y: scroll;
     height: 65vh;
     z-index: -1;
    }

.Chats::-webkit-scrollbar {
        display: none;
      }
      
 .Chats {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
 .Chat {
     margin: 1rem 0;
     color: #fff;
     padding: 1rem;
     background: linear-gradient(90deg, #1986d8, #7b9cc2);
     max-width: 90%;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
    }

.is_user_msg {
    color: #fff;
    padding: 1rem;
     margin-left: auto;
     margin-top: 1rem;
     margin-bottom: 1rem;
     background: #363846;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
    }


    @media (min-width: 576px) {
     .Chat {
          max-width: 60%;
    }
    
   }

