.Header {
    padding: 1rem 2rem;
    border: 1px solid inherit;
    border-bottom: 1px solid rgba(189, 189, 192, 0.2);
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 1000;
    height: 15vh;
    overflow: hidden;
   }


.Header_name {
    color: #fff;
    font-size : 20px;
   }

.Header_status{
    font-size: 15px;
}

@media (min-width : 576px) {
    .Header_name{
        font-size: 30px;
    }
    
}