.Header {
    padding: 1rem 2rem;
    border: 1px solid inherit;
    border-bottom: 1px solid rgba(189, 189, 192, 0.2);
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 1000;
   }


.Header_name {
    color: #fff;
   }

.Header_status{
    font-size: 15px;
}